.App {
  .sidebar {
    width: 16%;
    height: 100vh;
    background-color: #2b1919;
    position: fixed;
    border-right: 1px solid #4e2e2e;
  }

  .main-content {
    width: 84%;
    margin-left: 16%;
    background-color: #1b1010;
    min-height: 100vh;
    background-image: url(../img/dots.svg);
    display: grid;
    position: relative;
  }
}
