.ServicesSection {
  .service {
    width: 95%;
    background-color: #111111;
    border-left: 1px solid #ff000049;
    border-right: 1px solid #ff000049;
    border-bottom: 1px solid #ff000049;
    border-top: 8px solid #ff000049;
    transition: all 0.4s ease-in-out;

    &:hover {
      border-top: 8px solid red;
    }

    .service-content {
      padding: 1rem;

      .s-title {
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        padding-bottom: 1rem;
        margin: 1rem 0;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30%;
          height: 1px;
          background-color: #ff000049;
        }
      }
    }
  }
}

.service-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
