@import "./styles/layout";
@import "./styles/typography";
@import "./styles/navbar";
@import "./styles/title";
@import "./styles/about";
@import "./styles/skill";
@import "./styles/hobbies";
@import "./styles/contact";
@import "./styles/portfolios";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: #575757;
}

body {
  color: #ffffff;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;
}

span {
  color: red;
}

@media screen and (max-width: 411px) {
  html {
    font-size: 70%;
  }
}
